/* You can add global styles to this file, and also import other style files */

.fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-card {
  height: 100px;
  width: 100px;

  &-border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
}

.content-centering {
  align-content: center;
  text-align: center;
}
