:host {
  .user-card {
    background-color: lightsalmon;
    &-size {
      height: 300px;
      width: 500px;
    }

    &-border {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
    }
  }
}
